.link {
  display: block;
  text-decoration: none;
}

.list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  max-width: 100%;
  padding: 28px 0 170px;
  margin-bottom: 46px;
  background-image: url('../images/background-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 116px;

  &::after {
    content: '';
    background-image: url('../images/iphone6s.png');
    position: absolute;
    width: 452px;
    height: 664px;
    top: 218px;
    right: 112px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    &::after {
      top: 406px;
      right: 100px;
      width: 304px;
      height: 446px;
    }
  }

  @media (max-width: 767px) {
    &::after {
      display: none;
    }
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 24px 20px 48px;
  background-color: #ffffff;
  margin-bottom: 170px;

  @media (max-width: 767px) {
    height: 82px;

    .container {
      overflow: visible;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin: 0;

  & a:hover,
  & a:focus {
    color: orange;
  }

  @media (max-width: 767px) {
    & a:hover,
    & a:focus {
      outline: none;
      box-shadow: 0 0 0 2px #ccc;
      border-radius: 4px;
    }
  }

  &-link {
    color: #29bc9f;
    font-family: $secondary-font;
    font-weight: 600;
  }
}

.header__navigation {
  min-width: 454px;
  font-size: 13px;
  line-height: 36px;
  text-transform: uppercase;

  & a {
    font-weight: bold;
    color: #969596;
  }

  & a:hover,
  & a:focus {
    color: #282528;
  }

  @media (max-width: 767px) {
    display: block;
    position: fixed;
    top: 110px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    min-width: 292px;
  }
}

.header__title {
  color: #ffffff;
  font-size: 42px;
  line-height: 36px;
  margin: 0;
  font-family: $secondary-font;
  font-weight: 600;
}

.header__title_second {
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  margin: 0;
  padding-bottom: 36px;
}

.header__text {
  font-size: 16px;
  line-height: 36px;
  list-style: none;
  color: #ffffff;
  margin-bottom: 70px;
  padding-left: 20px;
}

.header__link {
  position: relative;
  font-weight: 600;

  &::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(-45deg);
    top: 50%;
    left: -20px;
  }
}

.header__button {
  display: block;
  border-radius: 5px;
  border-style: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #29bc9f;
  font-weight: 600;
  color: #ffffff;
  padding: 12px 38px 12px 22px;
  margin-left: 20px;

  &:hover,
  &:focus {
    background-color: orange;
  }
}

.header__button-icon {
  display: inline-block;
  width: 36px;
  height: 24px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .header {
    padding-bottom: 105px;
  }

  .header__logo {
    font-size: 22px;
  }

  .header__title {
    font-size: 25px;
  }

  .header__title_second {
    font-size: 18px;
    line-height: 24px;
  }

  .header__nav {
    margin-bottom: 86px;
  }

  .header__text {
    font-size: 12px;
    margin-bottom: 22px;
  }

  .header__title_second {
    padding-bottom: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header__navigation {
    font-size: 12px;
  }
}

.btn-burger {
  display: none;

  @media (max-width: 767px) {
    display: block;
    position: relative;
    right: -5px;
    width: 40px;
    height: 30px;
    background: transparent;
    border-radius: 4px;
    border: none;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #ccc;
    }
  }

  &__line {
    width: 30px;
    height: 3px;
    position: absolute;
    left: 5px;
    background-color: #000;
    transition: all 0.3s linear;

    &:nth-child(1) {
      top: 5px;
    }

    &:nth-child(2) {
      top: 13px;
    }

    &:nth-child(3) {
      top: 22px;
    }
  }
}

.header__nav.is-active {
  @media (max-width: 767px) {
    .btn-burger__line {
      &:nth-child(1) {
        top: 13px;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 14px;
        transform: rotate(-45deg);
      }
    }

    .header__navigation {
      transform: translateX(0);
    }
  }
}