.main-second {
  background: #31d4e7;
  padding: 75px 0 70px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1145px;
  padding: 0 25px;
}

.article {
  width: 500px;

  &__title {
    font-family: $secondary-font;
    font-size: 28px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 16px;
    line-height: 26px;
    color: white;
  }

  &__button {
    margin-right: 18px;
    padding: 0;
    cursor: pointer;
    width: 73px;
    height: 73px;
    border: none;
    border-radius: 50%;
    background-color: #0098cd;
    &:hover,
    &:focus {
      background-color: orange;
    }
  }
  &__list {
      display: flex;
      justify-content: space-between;
      padding: 0;
      width: 156px;
      list-style: none;
  }
}
.picture {
    display: block;
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-second {
    padding: 105px 0;
  }
  .container {
    display: block;
    width: 708px;
    padding: 0 103px;
  }
  .article {
    display: block;

    &__title {
        text-align: center;
      }

    &__text {
        text-align: center;
      }

      &__list {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0 auto 60px;
        width: 156px;
        list-style: none;
    }
}
}
@media (min-width: 320px) and (max-width: 767px) {
    .main-second {
        padding: 60px 15px;
      }
    .container {
        display: block;
        width: 292px;
        padding: 0;
      }
    .article {
        display: block;
        width: 292px;
        padding: 0;
    
        &__title {
            font-size: 18px;
            text-align: center;
          }
    
        &__text {
            text-align: center;
          }
    
          &__list {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0 auto 60px;
            width: 156px;
            list-style: none;
        }
    }
}
