.main-second {
  background: #31d4e7;
  padding: 70px 0;
  margin-bottom: 90px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .picture,
  .article__img {
    display: block;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1199px) {
      width: 500px;
    }

    @media (max-width: 767px) {
      width: 285px;
      height: auto;
    }
    
    
  }
}
.article {
  width: 50%;

  &:nth-child(2) {
    padding-left: 80px;
  }

  &__title {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 16px;
    line-height: 26px;
    color: white;
  }

  &__button {
    margin-right: 18px;
    padding: 0;
    cursor: pointer;
    width: 73px;
    height: 73px;
    border: none;
    border-radius: 50%;
    background-color: #0098cd;
    outline: none;

    &:hover,
    &:focus {
      background-color: orange;
    }
  }

  .article__button-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 156px;
    list-style: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-second {
    margin-bottom: 100px;

    .container {
      display: flex;
      flex-direction: column;
      padding: 0 44px;
    }
  }

  .article {
    width: 100%;
    display: block;

    &__title {
      text-align: center;
    }

    &__text {
      text-align: center;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0 auto 60px;
      width: 156px;
      list-style: none;
    }

    &:nth-child(2) {
      padding-left: 0;
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-second {
    padding: 60px 15px;
    margin-bottom: 56px;

    .container {
      display: block;
      width: 292px;
      padding: 0;
    }
  }
  
  .article {
    display: block;
    width: 292px;
    padding: 0;

    &__title {
      font-size: 18px;
      text-align: center;
    }

    &__text {
      text-align: center;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      padding: 0 0 40px;
      margin: 0 auto;
      width: 156px;
      list-style: none;
    }

    &:nth-child(2) {
      padding-left: 0;
    }
  }
}
